bin/Debug/net6.0/Stack-Pilha.deps.json
bin/Debug/net6.0/Stack-Pilha.dll
bin/Debug/net6.0/Stack-Pilha.exe
bin/Debug/net6.0/Stack-Pilha.pdb
bin/Debug/net6.0/Stack-Pilha.runtimeconfig.json
obj/project.assets.json
obj/project.nuget.cache
obj/Stack-Pilha.csproj.nuget.dgspec.json
obj/Stack-Pilha.csproj.nuget.g.props
obj/Stack-Pilha.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Stack-Pilha.AssemblyInfo.cs
obj/Debug/net6.0/Stack-Pilha.AssemblyInfoInputs.cache
obj/Debug/net6.0/Stack-Pilha.assets.cache
obj/Debug/net6.0/Stack-Pilha.csproj.AssemblyReference.cache
obj/Debug/net6.0/Stack-Pilha.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Stack-Pilha.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Stack-Pilha.dll
obj/Debug/net6.0/Stack-Pilha.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Stack-Pilha.genruntimeconfig.cache
obj/Debug/net6.0/Stack-Pilha.GlobalUsings.g.cs
obj/Debug/net6.0/Stack-Pilha.pdb
obj/Debug/net6.0/ref/Stack-Pilha.dll
obj/Debug/net6.0/refint/Stack-Pilha.dll
